/* Header Section */
.chatbot-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Keeps space between the logo and the right item */
  width: 100%;
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
  
.chatbot-header h1 {
  text-align: left;
  margin-left: 5vh; /* Centers the title horizontally */
  font-size: 2.4rem;
  letter-spacing: 2px;
}

.top-right-button-cluster {
  display: flex;
  margin-right: 2%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between; /* Ensure proper spacing */
  gap: 20px; /* Space between profile and tokens-used */
  flex-grow:0;

}


/* Tokens Used Display */
.tokens-used {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5vh;
  color: #eaeaea;
  opacity: 0.8;
  gap:0.0001vh;
  height: auto;
}

.tokens-used p{
  margin-bottom: 0.5vh;
  font-size: 1.2vh;
  margin-top: 0.5vh;
}

.tokens-used strong {
  margin: 0 0;
  font-weight: bold;
  font-size: 1.2vh;
  color: #00b4d8; /* Teal for highlighting tokens */
}

.tokens-used .clear-context {
  margin-top: 0.5vh; 
  margin-bottom: 0.5vh;
  background-color: #00b4d8;
  color: white;
  text-align: center; 
  font-size: 1.5vh; 
  padding: 3px 5px; 
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box; 
}


.profile-section {
  position: relative;
}


.profile-picture {
  width: 4vh;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 90%;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.profile-dropdown p {
  display: flex;
  align-items: center; 
  gap: 15px; 
  padding: 10px 10px; 
  cursor: pointer;
  transition: transform 0.2s ease; 
}


.profile-dropdown p:hover {
  transform:scale(1.15);
}

.profile-dropdown i {
  font-size: 1.2rem; /* Adjust icon size */
}
