/* login.css */

/* Container for the entire login form */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #e8e8e8, #083b6d);
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute; 
  top: 10px; 
  left: 1px;
  padding: 8px 20px;
  background-color: transparent; 
  color: rgb(52, 52, 52); 
  border: 2px solid rgb(52, 52, 52); 
  border-radius: 5px; 
  font-size: 19px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  margin-top: 10px; 
}

.back-button:hover {
  background-color: rgba(52, 52, 52, 0.1); 
  color: white; 
  border-color: rgb(6, 44, 85); 
}

.back-button:focus {
  outline: none; 
  box-shadow: 0 0 5px 2px rgba(27, 27, 28, 0.5); 
}

h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 600;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

form:hover {
  transform: scale(1.02);
}

/* Grouped form elements */
.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

/* Input fields */
input.form-control {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

input.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  background-color: #fff;
}

/* Error message styling */
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 500;
}

/* Button styling */
button.btn {
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: #2fc371;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
  margin-top: 20px;
}

button.btn:hover {
  background-color: #156b57;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}
