/* Overall Chatbot Page Styles */
.chatbot-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  background-color: #1f1f1f; 
  font-family: 'Arial', sans-serif;
  color: #eaeaea; /* Soft off-white text */
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overall page overflow */
}

